$slider-bg-color: #002276;
$google-btn-bg-color: #2e81fd;
$github-btn-bg-color: #333;
$text-darker-color: #4e555f;
$text-dark-color: #555;
$text-light-color: #9d9d9d;
$border-dark-color: #777;
$border-light-color: #eaeaea;
$btn-primary-color: #0089e5;
$error-color: #f24220;
