@import "../shared/variables";

.login-page {
	height: 100%;

	.slider-section {
		height: 100%;

		&::after {
			content: "";
			position: absolute;
			display: inline-block;
			z-index: 2;
			bottom: 5%;
			right: 5%;
			margin: 0 0.5em;
			border: 15px solid transparent;
			border-top: 15px solid white;
			border-bottom: 0 none;
			animation: scrollDownAnimation 2s infinite;
		}
	}

	.login-section {
		display: grid;
		place-items: center;
		padding-top: 2rem;
		padding-bottom: 2rem;

		.container {
			display: grid;
			place-items: center;
			width: 80%;
			text-align: center;
		}

		&__logo {
			width: 100px;
		}

		&__title {
			color: $text-darker-color;
			font-weight: normal;
			font-size: 2rem;
			margin: 1rem 0 2rem;
		}

		.or {
			width: 100%;
			margin: 1rem 0;
			font-weight: bold;
			color: $text-darker-color;

			&::before,
			&::after {
				content: "";
				background-color: $border-light-color;
				display: inline-block;
				height: 1px;
				position: relative;
				vertical-align: middle;
				width: 42%;
			}

			&::before {
				right: 0.5em;
				// margin-left: -50%;
			}

			&::after {
				left: 0.5em;
				// margin-right: -50%;
			}
		}

		.sign-up {
			width: 90%;
			font-size: 14px;
			font-weight: bold;
			color: $text-darker-color;

			a {
				display: inline-block;
				text-decoration: none;
				color: $btn-primary-color;
				margin: 0.25rem 0;
				cursor: pointer;
			}

			p a {
				margin-left: 5px;
			}
		}

		.trusted-by {
			width: 100%;
			margin-top: 1rem;

			&__text {
				margin: 1rem 0;
				font-size: 14px;
				font-weight: bold;
				color: $text-light-color;
			}

			&__logos {
				width: 100%;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-around;
				gap: 30px;

				// background-color: red;

				img {
					max-width: 60px;
					filter: grayscale(1);
					margin-bottom: 1rem;
				}
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.login-page {
		display: flex;

		.slider-section {
			width: 50%;

			&::after {
				all: unset;
			}
		}

		.login-section {
			width: 50%;

			.container {
				width: 70%;
			}

			.sign-up {
				display: flex;
				justify-content: space-between;
			}
		}
	}
}

@keyframes scrollDownAnimation {
	0% {
		opacity: 0;
		transform: translate(0, 0);
	}
	40% {
		opacity: 1;
	}
	80% {
		opacity: 0;
		transform: translate(0, 20px);
	}
	100% {
		opacity: 0;
	}
}
